{% extends 'base.html' %}
{% load static %}

{% block title %}
    Customers
{% endblock %}

{% block customer_content %}

    <div class="content">
        <nav class="navbar navbar-light navbar-glass navbar-top navbar-expand">
            <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse"
                    aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggle-icon"><span class="toggle-line"></span></span>
            </button>
            <a class="navbar-brand me-1 me-sm-3" href="../../index.html">
                <div class="d-flex align-items-center">
                    <img class="me-2" src="{% static 'app/assets/img/icons/spot-illustrations/falcon.png' %}" alt="" width="40"/>
                    <span class="font-sans-serif">falcon</span>
                </div>
            </a>
            <ul class="navbar-nav align-items-center d-none d-lg-block">
                <li class="nav-item">
                    <div class="search-box" data-list='{"valueNames":["title"]}'>
                        <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                            <input class="form-control search-input fuzzy-search" type="search" name="search"
                                   placeholder="Search..." aria-label="Search"/>
                            <span class="fas fa-search search-box-icon"></span>
                        </form>
                        <div class="btn-close-falcon-container position-absolute end-0 top-50 translate-middle shadow-none"
                             data-bs-dismiss="search">
                            <div class="btn-close-falcon" aria-label="Close"></div>
                        </div>
                        <div class="dropdown-menu border font-base start-0 mt-2 py-0 overflow-hidden w-100">
                            <div class="scrollbar list py-3" style="max-height: 24rem;">
                                <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">
                                    Recently Browsed</h6>
                                <a class="dropdown-item fs--1 px-card py-1 hover-primary" href="../../app/events/event-detail.html">
                                    <div class="d-flex align-items-center">
                                        <span class="fas fa-circle me-2 text-300 fs--2"></span>
                                        <div class="fw-normal title">Pages <span class="fas fa-chevron-right mx-1 text-500 fs--2"
                                                                                 data-fa-transform="shrink-2"></span> Events
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item fs--1 px-card py-1 hover-primary" href="../../app/e-commerce/customers.html">
                                    <div class="d-flex align-items-center">
                                        <span class="fas fa-circle me-2 text-300 fs--2"></span>
                                        <div class="fw-normal title">E-commerce <span class="fas fa-chevron-right mx-1 text-500 fs--2"
                                                                                      data-fa-transform="shrink-2"></span> Customers
                                        </div>
                                    </div>
                                </a>
                                <hr class="bg-200 dark__bg-900"/>
                                <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">
                                    Suggested Filter</h6>
                                <a class="dropdown-item px-card py-1 fs-0" href="../../app/e-commerce/customers.html">
                                    <div class="d-flex align-items-center">
                                        <span class="badge fw-medium text-decoration-none me-2 badge-soft-warning">customers:</span>
                                        <div class="flex-1 fs--1 title">All customers list</div>
                                    </div>
                                </a>
                                <a class="dropdown-item px-card py-1 fs-0" href="../../app/events/event-detail.html">
                                    <div class="d-flex align-items-center">
                                        <span class="badge fw-medium text-decoration-none me-2 badge-soft-success">events:</span>
                                        <div class="flex-1 fs--1 title">Latest events in current month</div>
                                    </div>
                                </a>
                                <a class="dropdown-item px-card py-1 fs-0" href="../../app/e-commerce/product/product-grid.html">
                                    <div class="d-flex align-items-center">
                                        <span class="badge fw-medium text-decoration-none me-2 badge-soft-info">products:</span>
                                        <div class="flex-1 fs--1 title">Most popular products</div>
                                    </div>
                                </a>
                                <hr class="bg-200 dark__bg-900"/>
                                <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">
                                    Files</h6>
                                <a class="dropdown-item px-card py-2" href="#!">
                                    <div class="d-flex align-items-center">
                                        <div class="file-thumbnail me-2">
                                            <img class="border h-100 w-100 fit-cover rounded-3" src="{% static 'app/assets/img/products/3-thumb.png' %}" alt=""/>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 title">iPhone</h6>
                                            <p class="fs--2 mb-0 d-flex"><span class="fw-semi-bold">Antony</span><span class="fw-medium text-600 ms-2">27 Sep at 10:30 AM</span></p>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item px-card py-2" href="#!">
                                    <div class="d-flex align-items-center">
                                        <div class="file-thumbnail me-2">
                                            <img class="img-fluid" src="{% static 'app/assets/img/icons/zip.png' %}" alt=""/>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 title">Falcon v1.8.2</h6>
                                            <p class="fs--2 mb-0 d-flex"><span class="fw-semi-bold">John</span><span class="fw-medium text-600 ms-2">30 Sep at 12:30 PM</span></p>
                                        </div>
                                    </div>
                                </a>
                                <hr class="bg-200 dark__bg-900"/>
                                <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">
                                    Members</h6>
                                <a class="dropdown-item px-card py-2" href="../../pages/user/profile.html">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-l status-online me-2">
                                            <img class="rounded-circle" src="{% static 'app/assets/img/team/1.jpg' %}" alt=""/>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 title">Anna Karinina</h6>
                                            <p class="fs--2 mb-0 d-flex">Technext Limited</p>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item px-card py-2" href="../../pages/user/profile.html">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-l me-2">
                                            <img class="rounded-circle" src="{% static 'app/assets/img/team/2.jpg' %}" alt=""/>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 title">Antony Hopkins</h6>
                                            <p class="fs--2 mb-0 d-flex">Brain Trust</p>
                                        </div>
                                    </div>
                                </a>
                                <a class="dropdown-item px-card py-2" href="../../pages/user/profile.html">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-l me-2">
                                            <img class="rounded-circle" src="{% static 'app/assets/img/team/3.jpg' %}" alt=""/>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-0 title">Emma Watson</h6>
                                            <p class="fs--2 mb-0 d-flex">Google</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="text-center mt-n3">
                                <p class="fallback fw-bold fs-1 d-none">No Result Found.</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
                <li class="nav-item">
                    <div class="theme-control-toggle fa-icon-wait px-2">
                        <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle"
                               type="checkbox" data-theme-control="theme" value="dark"/>
                        <label class="mb-0 theme-control-toggle-label theme-control-toggle-light"
                               for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                               title="Switch to light theme"><span class="fas fa-sun fs-0"></span></label>
                        <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark"
                               for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left"
                               title="Switch to dark theme"><span class="fas fa-moon fs-0"></span></label>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownNotification" href="#!" role="button" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><span class="fas fa-bell fs-4"
                                                                        data-fa-transform="shrink-6"
                                                                        style="color: rgba(64, 69, 73, 1);"></span></a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-card dropdown-menu-notification"
                         aria-labelledby="navbarDropdownNotification">
                        <div class="card card-notification shadow-none">
                            <div class="card-header">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-auto">
                                        <h6 class="card-header-title mb-0">Notifications</h6>
                                    </div>
                                    <div class="col-auto ps-0 ps-sm-3">
                                        <a class="card-link fw-normal" href="#">Mark all as read</a>
                                    </div>
                                </div>
                            </div>
                            <div class="scrollbar-overlay" style="max-height:19rem">
                                <div class="list-group list-group-flush fw-normal fs--1">
                                    <div class="list-group-title border-bottom">NEW</div>
                                    <div class="list-group-item">
                                        <a class="notification notification-flush bg-200" href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-2xl me-3">
                                                    <img class="rounded-circle" src="{% static 'app/assets/img/team/1-thumb.png' %}"
                                                         alt=""/>
                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1"><strong>Emma Watson</strong> replied to your comment : "Hello world 😍"
                                                </p>
                                                <span class="notification-time"><span class="me-2" role="img" aria-label="Emoji">💬</span>Just now</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="list-group-item">
                                        <a class="notification notification-flush bg-200" href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-2xl me-3">
                                                    <img class="rounded-circle" src="{% static 'app/assets/img/team/2-thumb.png' %}"
                                                         alt=""/>
                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1"><strong>Antony Hopkins</strong> followed <strong>Emma Watson</strong></p>
                                                <span class="notification-time"><span class="me-2 fas fa-users text-300"></span>5m</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="list-group-title border-bottom">EARLIER</div>
                                    <div class="list-group-item">
                                        <a class="notification notification-flush" href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-2xl me-3">
                                                    <img class="rounded-circle" src="{% static 'app/assets/img/icons/weather-sm.jpg' %}" alt=""/>
                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1">The forecast today shows a low of 20&#8451; in California. See today's weather.</p>
                                                <span class="notification-time"><span class="me-2 fas fa-cloud-sun text-warning"></span>1h</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="list-group-item">
                                        <a class="notification notification-flush" href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-2xl me-3">
                                                    <img class="rounded-circle" src="{% static 'app/assets/img/team/4-thumb.png' %}"
                                                         alt=""/>
                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1"><strong>Nick Watson</strong> mentioned you in a comment : "Wow, this is really epic 🔥🔥🔥"</p>
                                                <span class="notification-time"><span class="me-2" role="img" aria-label="Emoji">💬</span>1h</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="list-group-item">
                                        <a class="notification notification-flush" href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-2xl me-3">
                                                    <img class="rounded-circle" src="{% static 'app/assets/img/team/5-thumb.png' %}"
                                                         alt=""/>
                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1"><strong>Jane Foster</strong> sent a video link : "You should see this!"</p>
                                                <span class="notification-time"><span class="me-2 fas fa-video text-info"></span>1h</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="list-group-item">
                                        <a class="notification notification-flush" href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-2xl me-3">
                                                    <img class="rounded-circle" src="{% static 'app/assets/img/icons/rocket.png' %}" alt=""/>
                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1"><strong>Falcon</strong> launched a new application on 18 Aug 2021.</p>
                                                <span class="notification-time"><span class="me-2 fas fa-rocket text-primary"></span>1h</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center border-top"><a class="card-link d-block"
                                                                              href="../../pages/notifications.html">View all</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownNindeDots" href="#" role="button" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><span class="fas fa-th"></span></a>
                    <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-menu-card"
                         aria-labelledby="navbarDropdownNindeDots">
                        <div class="card shadow-none">
                            <div class="scrollbar-overlay nine-dots" style="max-height: 20rem;">
                                <div class="card-body px-3">
                                    <div class="row text-center gx-0 gy-0">
                                        <div class="col-4">
                                            <a class="d-block hover-top" href="../../index.html" target="_blank">
                                                <div class="avatar avatar-2xl"><img class="rounded-circle" src="{% static 'app/assets/img/nav-icons/at.png' %}" alt=""/></div>
                                                <p class="mb-0 text-black fs--2 mt-1">Category</p>
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a class="d-block hover-top" href="../../app/chat.html" target="_blank">
                                                <div class="avatar avatar-2xl"><img class="rounded-circle" src="{% static 'app/assets/img/nav-icons/chat.png' %}" alt=""/></div>
                                                <p class="mb-0 text-black fs--2 mt-1">Chat</p>
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a class="d-block hover-top" href="../../app/calendar.html" target="_blank">
                                                <div class="avatar avatar-2xl"><img class="rounded-circle" src="{% static 'app/assets/img/nav-icons/calendar.png' %}" alt=""/></div>
                                                <p class="mb-0 text-black fs--2 mt-1">Calendar</p>
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a class="d-block hover-top" href="../../app/email/inbox.html" target="_blank">
                                                <div class="avatar avatar-2xl"><img class="rounded-circle" src="{% static 'app/assets/img/nav-icons/email.png' %}" alt=""/></div>
                                                <p class="mb-0 text-black fs--2 mt-1">Email</p>
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a class="d-block hover-top" href="../../pages/contact/contact.html" target="_blank">
                                                <div class="avatar avatar-2xl"><img class="rounded-circle" src="{% static 'app/assets/img/nav-icons/contact.png' %}" alt=""/></div>
                                                <p class="mb-0 text-black fs--2 mt-1">Contact</p>
                                            </a>
                                        </div>
                                        <div class="col-4">
                                            <a class="d-block hover-top" href="../../app/e-commerce/customers.html" target="_blank">
                                                <div class="avatar avatar-2xl"><img class="rounded-circle" src="{% static 'app/assets/img/nav-icons/customers.png' %}" alt=""/></div>
                                                <p class="mb-0 text-black fs--2 mt-1">Customers</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer p-0 border-top">
                                    <a class="btn btn-link d-block w-100" href="../../pages/user/profile.html">
                                        <strong>Show more</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <div class="avatar avatar-xl">
                            <img class="rounded-circle" src="{% static 'app/assets/img/team/3-thumb.png' %}" alt=""/>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
                        <div class="bg-white dark__bg-1000 rounded-2 py-2">
                            <a class="dropdown-item" href="../../pages/user/profile.html">Profile &amp; account</a>
                            <a class="dropdown-item" href="#!">Feedback</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="../../pages/user/settings.html">Settings</a>
                            <a class="dropdown-item" href="../../pages/authentication/card/logout.html">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="row g-3 mb-3">
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="bg-holder bg-card"
                         style="background-image:url({% static 'app/assets/img/icons/spot-illustrations/corner-1.png' %});"></div>
                    <div class="card-body position-relative">
                        <h6>Customers</h6>
                        <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-primary"
                             data-countup='{"endValue":1566,"duration":5,"decimals":2,"suffix":"k"}'>0
                        </div>
                        <a class="font-weight-semi-bold fs--1 text-nowrap" href="../../app/e-commerce/customers.html">All
                            Customers<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="bg-holder bg-card"
                         style="background-image:url({% static 'app/assets/img/icons/spot-illustrations/corner-2.png' %});"></div>
                    <div class="card-body position-relative">
                        <h6>Orders</h6>
                        <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-primary"
                             data-countup='{"endValue":4789,"duration":5,"decimals":2,"suffix":"k"}'>0
                        </div>
                        <a class="font-weight-semi-bold fs--1 text-nowrap" href="../../app/e-commerce/orders.html">All
                            Orders<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="bg-holder bg-card"
                         style="background-image:url({% static 'app/assets/img/icons/spot-illustrations/corner-3.png' %});"></div>
                    <div class="card-body position-relative">
                        <h6>Sales</h6>
                        <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-primary"
                             data-countup='{"endValue":22439,"duration":5,"decimals":2,"suffix":"k"}'>0
                        </div>
                        <a class="font-weight-semi-bold fs--1 text-nowrap" href="../../app/e-commerce/sales.html">All
                            Sales<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="card overflow-hidden">
                    <div class="bg-holder bg-card"
                         style="background-image:url({% static 'app/assets/img/icons/spot-illustrations/corner-4.png' %});"></div>
                    <div class="card-body position-relative">
                        <h6>Refunds</h6>
                        <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-primary"
                             data-countup='{"endValue":2949,"duration":5,"decimals":2,"suffix":"k"}'>0
                        </div>
                        <a class="font-weight-semi-bold fs--1 text-nowrap" href="../../app/e-commerce/refunds.html">All
                            Refunds<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12 col-xxl-8">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row flex-between-end">
                            <div class="col-auto align-self-center">
                                <h5 class="mb-0">Customers list</h5>
                            </div>
                            <div class="col-auto ms-auto">
                                <button class="btn btn-sm btn-falcon-default" type="button"><span class="fas fa-filter text-warning"
                                                                                                  data-fa-transform="shrink-3 down-2"></span><span
                                        class="d-none d-sm-inline-block ms-1">Filter</span></button>
                                <button class="btn btn-sm btn-falcon-primary" type="button"><span class="fas fa-plus"
                                                                                                  data-fa-transform="shrink-3 down-2"></span><span
                                        class="d-none d-sm-inline-block ms-1">New</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0 overflow-hidden">
                        <div class="table-responsive">
                            <table class="table table-sm table-dashboard data-table mb-0 fs--1">
                                <thead class="bg-200 text-900">
                                <tr>
                                    <th class="sort" data-sort="id">ID</th>
                                    <th class="sort" data-sort="name">Name</th>
                                    <th class="sort" data-sort="email">Email</th>
                                    <th class="sort" data-sort="phone">Phone</th>
                                    <th class="sort" data-sort="address">Address</th>
                                    <th class="sort" data-sort="date">Join Date</th>
                                    <th class="sort" data-sort="status">Status</th>
                                    <th class="sort" data-sort="action">Action</th>
                                </tr>
                                </thead>
                                <tbody class="list">
                                {% for customer in customers %}
                                    <tr>
                                        <td class="id">{{ customer.id }}</td>
                                        <td class="name">{{ customer.name }}</td>
                                        <td class="email">{{ customer.email }}</td>
                                        <td class="phone">{{ customer.phone }}</td>
                                        <td class="address">{{ customer.address }}</td>
                                        <td class="date">{{ customer.date }}</td>
                                        <td class="status">
                                            {% if customer.status == 'Active' %}
                                                <span class="badge badge-soft-success">{{ customer.status }}</span>
                                            {% else %}
                                                <span class="badge badge-soft-danger">{{ customer.status }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="action"><a href="#">View</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="pagination justify-content-center">
                            <span class="me-2">Page:</span>
                            <div>
                       
                                    <a class="btn btn-sm btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                          

                                {% for page_num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == page_num %}
                                        <span class="btn btn-sm btn-primary">{{ page_num }}</span>
                                    {% else %}
                                        <a class="btn btn-sm btn-outline-primary" href="?page={{ page_num }}">{{ page_num }}</a>
                                    {% endif %}
                                {% endfor %}

                                
                                    <a class="btn btn-sm btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}